PORT=5000
DATABASE_URL=postgresql://postgres:kBa6xG6O63XrDhR7@db.yendmtapwgmelinxykkg.supabase.co:5432/postgres
JWT_SECRET=tu_secreto_super_seguro
# La DATABASE_URL debe ser la de Supabase con la contraseña que me diste.
